[submodule "CameraCalibLab"]
	path = CameraCalibLab
	url = https://github.com/Chr0mium24/CameraCalibLab.git

[submodule "TennisBallDetectorLab"]
	path = TennisBallDetectorLab
	url = https://github.com/Chr0mium24/TennisBallDetectorLab.git

[submodule "BallTrajectoryLab"]
	path = BallTrajectoryLab
	url = https://github.com/Chr0mium24/BallTrajectoryLab.git

[submodule "TennisBotCV"]
	path = TennisBotCV
	url = https://github.com/Chr0mium24/TennisBotCV.git

[submodule "TennisWebSim"]
	path = TennisWebSim
	url = https://github.com/Chr0mium24/TennisWebSim.git
